.deploy
.DS_Store
.env
.eslintcache
.idea
.local-chromium
*Zone.Identifier
api.log
build
node_modules
public/gpx-image-with-track
public/gpx-image/*/*.jpg
public/gpx-image/*/*.png
public/gpx-image/*/*.webp
public/gpx-track/fromtour/*/*.gpx
public/gpx-track/totour/*/*.gpx
public/gpx/*/*.gpx
public/range-image/*.jpg
public/range-image/desktop.ini
public/sitemap_*.xml
src/firebase.json
src/knexfile.js
src/knexfileTourenDb.js
test.json
zuugle_postgresql.dump