build
.idea
.deploy
node_modules
public/gpx/*/*.gpx
public/gpx-image/*/*.jpg
public/gpx-image/*/*.png
public/gpx-image/*/*.webp
public/gpx-image-with-track/*.jpg
public/gpx-track/totour/*/*.gpx
public/gpx-track/fromtour/*/*.gpx
public/range-image/desktop.ini
public/range-image/*.jpg
package-lock.json
src/firebase.json
src/knexfile.js
src/knexfileTourenDb.js
.DS_Store
.local-chromium
api.log
test.json
*Zone.Identifier
.eslintcache