// Update with your config settings.

module.exports = {
  production: {
    client: 'mysql',
    connection: {
      host: '',
      user: 'tourendb_user',
      password: '',
      database: 'tourendatenbank',
      charset: 'utf8',
    }
  },
  development: {
    client: 'mysql',
    connection: {
      host: 'sql371.your-server.de',
      user: 'tourendb_uat_r',
      password: 'CcM34L1WqJuGtbHs',
      database: 'tourendatenbank_uat',
      charset: 'utf8',
    }
  }
};


