// Update with your config settings.

module.exports = {
  production: {
    client: 'pg',
    version: '13',
    connection: {
      host : '',
      port : 5432,
      user : 'zuugle_suche',
      password : '',
      database : 'zuugle_suchseite_db'
    },
    pool: {
      min: 2, // Minimum number of connections in the pool
      max: 10 // Maximum number of connections in the pool
    }
  },
  development: {
    client: 'pg',
    version: '13',
    connection: {
      host : 'localhost',
      port : 5433,
      user : 'postgres',
      password : 'docker',
      database : 'zuugle_suchseite_dev',
      debug: false
    }
  },
  debug: true,
  pool: {
    min: 2, // Minimum number of connections in the pool
    max: 10 // Maximum number of connections in the pool
  }
};


