/* @import '~material-design-icons/iconfont/material-icons.css' */

/* html, body {
  overflow-x: hidden;
} */

body * {
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering:optimizeLegibility !important;
}

.App {
  text-align: center;
  background-color: #F1F1F1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* width */
body ::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

/* Track */
body ::-webkit-scrollbar-track {
  background: #FFF;
}

body .start-body-container ::-webkit-scrollbar-thumb {
  background: #DDDDDD;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #b0b0b0;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.my-modal ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.my-modal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tour-card {
  text-align: left;
  height: 100%
}

.tour-card .bottom-container {
  border-top: 1px solid #ECECEC;
  width: 100%;
  min-height: 40px;

}

.tour-card .bottom-container .title {
  display: flex;
  justify-content: space-between;
}

.tour-connection-card {
  background-color: #F7F7F7;
  border-radius: 16px;
  padding: 16px;
  text-align: left;
  position: relative;
}

.mt-3 {
  margin-top: 16px;
}

.rating-stars-container {
  display: flex;
  flex-direction: row;
}

.rating-stars-container .number {
  align-self: self-start;
  margin-left: 5px;
  color: #FFCF23;
}

.result-bar > div {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.search-bar-input {
  height: 55px;
  min-width: 300px;
}

.result-bar {
  background-color: #FFFFFF;
  border-top: 1px solid #ECECEC;
}

.btn {
  text-transform: unset !important;
}

.start-search-bar {
  max-width: 80%;
  border-radius: 20px;
  background-color: #FFF;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  position: relative;
  padding: 20px;
}

.main-search-bar {
  background-color: #FFF;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-search-bar .result-container, .main-search-bar .result-container {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #FFF;
  position: absolute;
  top:77px;
  left: 0px;
  z-index: 1000;
  -webkit-box-shadow: -10px 9px 15px 5px rgba(0,0,0,0.11);
  -moz-box-shadow: -10px 9px 15px 5px rgba(0,0,0,0.11);
  box-shadow: -10px 9px 15px 5px rgba(0,0,0,0.11);
}

.main-search-bar .result-container {
  top: 85px !important;
}

.start-search-bar .result-container .not-found-entry,  .main-search-bar .result-container .not-found-entry{
  background-color: #4992FF;
  color: #FFF;
  margin-bottom: -10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.filter-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-box.border {
  border-bottom: 1px solid #EAEAEA;
}

.my-modal::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cursor-link {
  cursor: pointer !important;
}

.station {
  white-space: break-spaces;
}

.MuiSlider-root.Mui-disabled {
  color: transparent !important;
}

.header-text {
  padding-top: 50px;
  padding-left: 100px;
  text-align: left;
  max-width: 700px;
  margin-bottom: 30px;
}

.header-line {
  background: linear-gradient(91.15deg, #4992FF -6.78%, #FF9466 108.06%);
  z-index: 0
}

.header-container {
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.start-body-container {
  padding: 30px 40px;
}

.about-zuugle-grid .image {
  width: 90%;
}

.scrolling-card-box {
  flex: 0 0 400px;
}

.kpi-container {
  padding: 50px;
}

.order-container {
  margin-left: 10px;
}

.filter-button-container, .order-container {
  min-width: 190px;
}

.result-text-mobile {
  display: none;
}

.cards-container {
  padding: 30px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  margin-left: auto;
  margin-right: auto;
}

.MuiTabs-indicator {
  display: none;
}

.MuiTabs-scroller {
  align-self: center;
}

.MuiTabs-flexContainer {
  background-color: #EAEAEA;
  border-radius: 16px;
}

.filter-box-container {
  max-height: calc(90vh - 160px);
  overflow: auto;
}

.seo-bar {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FFF;
}

@media only screen and (max-width: 600px) {
  .header-text {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 36px;
    letter-spacing: 0px;
  }

  .start-search-bar {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
  }

  .header-line {
    display: none;
  }

  .header-container {
    height: unset;
    padding-bottom: 30px;
  }

  .header-container.utils {
    padding: 30px 20px !important;
  }

  .start-body-container {
    padding: 30px 20px;
  }

  .start-body-container h4 {
    font-size: 18px;
  }

  .about-zuugle-grid {
    flex-direction: column-reverse !important;
  }

  .about-zuugle-grid .button-more {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-zuugle-grid .image {
    width: 100%;
  }

  .search-button-container {
    margin-top: 15px;
  }

  .search-button-container .MuiGrid-grid-xs-12 {
    margin-bottom: 15px;
  }

  .start-search-bar .result-container, .main-search-bar .result-container {
    top:95px;
  }

  .start-search-bar .result-container.regions, .main-search-bar .result-container.regions {
    top:165px;
  }

  .scrolling-card-box {
    flex: 0 0 100%;
  }

  .button-tour-planen {
    width: 100%;
  }

  .kpi-container {
    padding: 24px;
  }

  .main-search-bar {
    margin-left: 20px;
    margin-right: 20px;
  }

  .result-bar > div {
    padding-left: 20px;
    padding-right: 20px;
  }

  .order-container {
    margin-left: 0px;
    padding-left: 5px;
  }

  .result-text {
    display: none;
  }

  .result-text-mobile {
    display: block;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .filter-button-container, .order-container {
    min-width: unset;
  }

  .filter-button-container {
    padding-right: 5px;
  }

  .cards-container {
    padding: 20px;
  }

  .my-modal {
    width: 100%;
    height: 100% !important;
    border-radius: 0px !important;
  }

  .toggle-container-left {
    padding-right: 16px !important;
  }

  .toggle-container-right {
    padding-left: 16px !important;
  }

  .filter-box {
    padding-left: 16px;
    padding-right: 16px;
  }

  .city-input .Mui-disabled {
    color: rgba(0, 0, 0, 0.6) !important;
  }

  .city-input fieldset {
    color: unset;
    border-color: #ECECEC !important;
  }

  .city-input input {
    color: #101010 !important;
    -webkit-text-fill-color: #101010 !important;
    border-color: #ECECEC !important;
  }

  .social-icons {
    text-align: center !important;
    margin-top: 20px;
  }

  .footer-logo {
    max-width: unset !important;
  }

  .timeline-opposite-container {
    padding: 0px 10px 6px 0px !important;
  }

  .MuiTimeline-root {
    padding: 0px !important;
  }

  .timeline-outer-container {
    padding: 10px !important;
  }

  .order-container {
    margin-top: 10px;
  }

  .about-zuugle-grid h3 {
    font-size: 26px;
  }

  .about-container h1 {
    font-size: 28px;
  }
  .filter-box-container {
    overflow-x: hidden;
  }

  .filter-box.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #FFF;
  }
}

@media only screen and (min-width: 910px) {
  .search-result-header-container {
    position: fixed;
    top:0;
    z-index: 100;
    box-shadow: 0px 5px 27px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 5px 27px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 27px 0px rgba(0,0,0,0.16);
  }

  .seo-bar {
    height: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .cards-container {
    margin-top: 160px;
  }

  .cards-container.seo-page {
    margin-top: 240px;
  }

  .map-container {
    margin-top: 165px;
  }
}

.static-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.static-container h5 {
  text-align: left;
  padding-bottom: 15px;
  line-height: 16px;
  color: #000000;
}

.order-container > div {
  flex: 1;
}

ul.about-bullets {
  padding-left: 16px;
}

.about-bullets li {
  background: transparent;
  color: #8B8B8B;
  text-align: left;
  margin-top: 5px;
}

.react-horizontal-scrolling-menu--wrapper {
  position: relative;
}

.react-horizontal-scrolling-card {
  width: 400px;
  margin-right: 20px;
  vertical-align: top;
  height: 98%;
}

.react-horizontal-scrolling-arrow-container {
  display: block;
}

@media only screen and (max-width: 600px) {
  .react-horizontal-scrolling-arrow-container {
    display: none;
  }
  .react-horizontal-scrolling-card {
    max-width: 100%;
  }
}

.react-horizontal-scrolling-arrow {
  margin: 0;
  position: absolute;
  top: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #000;
  color: #FFF;
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}

.custom-marker-cluster{
  background: #4992FF;
  border: 10px solid #4992FF;
  border-radius: 50%;
  color: #FFF;
  height: 33px;
  line-height: 32px;
  text-align: center;
  width: 33px;
  font-weight: bold;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-size: 15px;
}

.map-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 10;
}

.map-spinner span {
  margin-top: 50px;
}

.seo-city-link {
  line-height: 24px;
  color: #4992FF;
}