@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/open-sans-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/open-sans-v29-latin-italic.woff2') format('woff2'),
       url('./assets/fonts/open-sans-v29-latin-italic.woff') format('woff');
}
