/* Popup.css */
.request-popup .leaflet-popup-content-wrapper {
  border-radius: 5px;
  border-color: rgba(89, 255, 0, 0.233);
}

.request-popup {
  width: 100%; /* Use full width of the parent container */
  max-width: 300px; /* Set a maximum width for larger screens */
}

.request-popup img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add some margin for spacing */
}

/* Media query for screens less than 900px */
@media (max-width: 900px) {
  .request-popup {
      max-width: 210px; /* 30% smaller than 300px */
  }
}

/* Media query for screens less than 600px */
@media (max-width: 600px) {
  .request-popup {
      max-width: 150px; /* 50% smaller than 300px */
  }
}
